---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À Propos | Evan Estrems" description="À propos d'Evan Estrems">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Evan Estrems"
				tagline="Apprenez-en un peu plus sur moi, mes compétences et mes expériences..."
			>
				<img
					width="4032"
					height="3024"
					src="/assets/au_travail.jpg"
					alt="Moi en train de travailler."
				/>
			</Hero>

			<section>
				<h2 class="section-title">Présentation</h2>
				<div class="content">
					<p>
						Je suis Evan Estrems, un étudiant en Licence Informatique à l'UPVD passionné par le monde de la
						technologie depuis mes années de lycée. Doté d'une personnalité adaptable et communicative,
						je m'épanouis dans un environnement universitaire où la collaboration et l'échange sont
						primordiaux.
					</p>
					<br>
					<p>
						Ma capacité à rebondir face aux obstacles et à maintenir le cap grâce à des objectifs clairs me
						permet de progresser avec détermination. Investi dans la communauté étudiante, j'ai créé un
						serveur communautaire pour favoriser le partage de connaissances et la coopération sur des projets.
					</p>
					<br>
					<p>
						Ma passion pour l'informatique me pousse à maintenir une veille technologique constante,
						renforçant ainsi mes compétences et ma compréhension du domaine.
					</p>
					<br>
					<p>
						En tant qu'étudiant en Licence Informatique, je suis prêt à relever les défis avec enthousiasme
						et à contribuer activement à l'évolution de ce domaine fascinant.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Formation</h2>
				<div class="content">
					<p>Licence Informatique (BAC+3) (en cours : troisième année)</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<p>Organisé, Dynamique, Travail d'Equipe, Motivé, Engagé</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
